<div class="meet_team_container">
  <div class="meet_team_container--overlay"></div>
  <div class="meet_team_container--banner">
      <p class="meet_team_text--headline meet_team_text"> Meet The Owner </p>
      <div class="arrow_graphic--team"></div>
  </div>
  <div class="meet_team_container--body">
    <div class="img_wrapper">
      <img class="team_cutout" src = "/assets/images/ceo.png"/>
    </div>
    <div class="text_wrapper">
        <p class="meet_team_text meet_team_text--title"> Marco Khodr MacEwen </p>
        <p class="meet_team_text meet_team_text--subtitle"> CEO & Founder </p>
        <p class="meet_team_text meet_team_text--paragraph">
          A business that looks well maintained is successful.
          Our company specializes in cleaning windows to lessen your workload while
          making your business aesthetic look in top shape.
          Our services will be cost-effective to you and we are very flexible in our
          scheduling so we can come at the best days for you.
          Once you hire us, you can trust we will fully take care of any
          problem and spend time around the clock to make sure you can spend
          time on the things that matter the most.
        </p>
    </div>
  </div>
</div>
