<div class="promise_container">

  <div class="promise_container--background"></div>

  <div class="promise_content_container">
    <div class="text_container">

      <p class="title">
          Our Promises
      </p>
      <p class="subtitle">

      </p>

      <div class="promise_container--text">

        <p class="promise_name promise_name--value promise_name--left" >
          Promise 1
        </p>

        <p class="promise_name promise_name--value promise_name--right" >
          Promise 2
        </p>

        <p class="promise_name promise_name--value promise_name--left" >
          Promise 3
        </p>

        <p class="promise_name promise_name--value promise_name--right" >
          Promise 4
        </p>

      </div>

    </div>

    <div class="promise_container--graphic">
      <span class="number_container">
        02
      </span>
      <div class="graphic_container">
          <p class="title">Promise</p>
          <p class="promise_text--description promise_text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          </p>
      </div>
    </div>

  </div>


</div>
