<div class="row">

    <div class="col-3">
      <button class="btn btn-danger width-100 delete_quote_button "interactable=-1> Delete </button>
    </div>

    <div class="col-6"></div>

    <div class="col-3">

      <button class="btn btn-primary width-100 color-white complete_quote_button inactive_quote" interactable=-1>
          <img class="admin_button--img" src = "./../assets/images/logo.png"/>
          <p class="admin_button_text">Completed </p>
      </button>

    </div>

</div>
