
<div class="row padding-bottom-5">


  <div class="col-12">

      <div class="admin_container--quote_box">
          <p class="admin_text admin_text--quote">Total Prospects </p>
          <p class="admin_text admin_text--quote"> <%= prospects.length %> Prospects(s) </p>
      </div>

      <button class="add_prospect_button--g"> Add Prospect </button>

  </div>



</div>
