<div class="row">

  <div class="col-12">

      <div class="admin_container--quote_box" style="padding:20px">

          <p class="admin_text admin_text--quote">Total Prospects </p>
          <p class="admin_text admin_text--quote"> <%= prospects.length %> Prospects(s) </p>

          <button class="add_prospect_button--g"style="width:30%;margin-left:0"> Add Prospect </button>

      </div>

  </div>

</div>
