
<div class="row padding-bottom-5">


  <div class="col-12">

      <div class="admin_container--quote_box">
          <p class="admin_text--total admin_text">Total Quote </p>
          <p class="admin_text admin_text--amount"> <%= quotes.length %> Quotes(s) </p>
      </div>

  </div>

  <div class="col-12 admin_container--prospect_box">
      <div class="admin_container--quote_box">
          <p class="admin_text--total admin_text"> Potential Sales </p>
          <p class="admin_text admin_text--amount">$<%=total_potential_sales %> </p>
      </div>

    </div>

</div>
